@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/color.scss";
@import "../../assets/styles/fonts.scss";

.header {
  @include displayFlex(unset, space-around, center);
  padding: 40px 40px 60px 40px;

  &__icons {
    @include displayFlex(unset, center, unset);
    gap: 10px;
    color: $color-white;
  }

  &__icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $color-lightGray;
    @include displayFlex(unset, center, center);
    font-size: $font-13;
    cursor: pointer;
  }

  &__searchIcon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid $color-lightGray;
    color: $color-lightGray;
    @include displayFlex(unset, center, center);
    cursor: pointer;
  }

  &__logo {
    font-size: 46px;
    color: $color-lightGray;
  }

  &__content {
    font-size: 13px;
    color: $color-lightGray;
  }
}
