@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/color.scss";

.footer {
  height: 100px;
  background-color: $color-white;
  color: $color-lightGray;
  border-top: 1px solid rgba(219, 212, 212, 0.712);
  @include displayFlex(unset, center, center);
  margin-top: 50px;
}
