@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/color.scss";
@import "../../assets/styles/fonts.scss";

.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.26);
  @include displayFlex(unset, center, center);
}
