@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/color.scss";
@import "../../assets/styles/fonts.scss";

.homepage {
  min-height: calc(100vh - 200px);

  &__bodyHeaderTitle {
    font-size: 25px;
    text-transform: capitalize;
    border-left: 1px solid $color-black;
    padding-left: 10px;
  }

  &__bodyHeader {
    @include displayFlex(unset, space-between, center);
    padding: 30px 35px;
  }

  &__background {
    height: 400px;
    opacity: 0.9;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__loadMore {
    @include displayFlex(unset, center, center);
  }
}
