@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/color.scss";

.navbar {
  padding: 25px;
  background-color: $color-white;
  @include displayFlex(unset, center, center);
  gap: 2rem;
  width: 60%;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: rgba(99, 99, 99, 0.103) 0px 2px 8px 0px;
  z-index: 1000;

  li {
    list-style: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $color-lightGray;
  }
}
